---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Tour from '../components/Tour.astro';
import DynamicBannar from '../components/DynamicBannar.astro';

// You can import components from any supported Framework here!

---
<MainLayout title="About"  description=" gem, general equipment mauritania, (invest, construction, steel construction) mauritania">
<div class="container-fluid m-0 p-0">
<!--  -->
<DynamicBannar greeting="About"  name="NNNNNN" thumbnailSrc='/bannar/1.jpg'>
</DynamicBannar>
<!--  -->
<h1>About | About Page</h1>
<Tour/>
</div>
<style lang="scss">
*{
    color:#fff;
}
</style>
</MainLayout>