---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import DynamicBannar from '../components/DynamicBannar.astro';
// You can import components from any supported Framework here!
---
<MainLayout title="Home" description=" gem, general equipment mauritania, (invest, construction, steel construction) mauritania">
    <div class="container-fluid m-0 p-0 ">
        <!--  -->
        <DynamicBannar greeting="A NEXT GENERATION STEEL CONSTRUCTION COMPANY" name="Laying The Foundation of A New World"  thumbnailSrc='/bannar/2.jpg' />
        <!--  -->
        <div class="container-fluid text-light p-5">
            <div class="row align-items-center p-5">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card boxBehaind boxBehaind__left">
                        <img src="https://cdn-ccpfo.nitrocdn.com/iuljjjBAggGXWBkbEICEBWttStriqMmF/assets/static/optimized/rev-6f8f2e0/wp-content/uploads/2020/09/paper-3213924_1280.jpg"
                            alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>WHO WE ARE?</h1>
                    <br>
                    RECLA is re-innovating the steel construction technologies that paves the new way for sustainable
                    growth. Our company works under the impression of industry 5.0. We have an advantage of a globally
                    and locally spread network.

                    Along with in-house manufacturing facilities, our business model is designed to assist the local
                    manufacturers to raise their products to international quality standards in order to aid the
                    socio-economic conditions.

                    By sharing the burden of huge capex, we have changed the way manufacturing industry operates. The
                    aim is to provide one stop solution by executing the entire project with prompt services and best
                    quality products. The company has evolved in creating excellence while delivering multiple
                    construction types, such as – factories, multi-story risers, warehouses, commercial buildings,
                    aircraft hangers and many more.

                    Products & Services

                    Our company provides a wide range of construction products and techniques like:

                </div>
            </div>
            <!--  -->

        </div>
        <div class="container-fluid text-dark bg-light p-5">
            <div class="row align-items-center p-5">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>WHO WE ARE?</h1>
                    <br>
                    RECLA is re-innovating the steel construction technologies that paves the new way for sustainable
                    growth. Our company works under the impression of industry 5.0. We have an advantage of a globally
                    and locally spread network.

                    Along with in-house manufacturing facilities, our business model is designed to assist the local
                    manufacturers to raise their products to international quality standards in order to aid the
                    socio-economic conditions.

                    By sharing the burden of huge capex, we have changed the way manufacturing industry operates. The
                    aim is to provide one stop solution by executing the entire project with prompt services and best
                    quality products. The company has evolved in creating excellence while delivering multiple
                    construction types, such as – factories, multi-story risers, warehouses, commercial buildings,
                    aircraft hangers and many more.

                    Products & Services

                    Our company provides a wide range of construction products and techniques like:

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card boxBehaind boxBehaind__right">
                        <img src="https://cdn-ccpfo.nitrocdn.com/iuljjjBAggGXWBkbEICEBWttStriqMmF/assets/static/optimized/rev-6f8f2e0/wp-content/uploads/2020/09/paper-3213924_1280.jpg"
                            alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>

</MainLayout>