---
import { Markdown } from 'astro/components';
---
<h1 class="here">Not</h1>
<article  description="content Tour">
<button id="btn">Click Here</button>


<script>
document.getElementById("btn").addEventListener("click",() => {
    document.querySelector("h1").innerText = "clicked"
});
</script>

</article>
